In [ ]:
# My First Hello World in Python

In [2]:
print("SAYA BARU BELAJAR")

SAYA BARU BELAJAR

In [3]:
print("HELLO WORLD!")

HELLO WORLD!

In [10]:
GAJI = 5000

if GAJI <= 5000:
    print("B40")
else:
    print("M40 & T20")

B40

In [11]:
"""
selamat berkenalan
"""

'\nselamat berkenalan\n'

In [14]:
#int 
umur=51

#string
name="yanti"

#float
berat=75.5

print("Umur saya:",umur)
print("Nama saya:",name)
print("Berat saya:",berat)

Umur saya: 51
Nama saya: yanti
Berat saya: 75.5

In [16]:
age=input("HOW OLD ARE YOU?")
height=input("WHAT IS YOUR HEIGHT (IN CM)")
weight=input("WHAT IS YOUR WEIGHT (IN KG)")

print(f"SO, YOU ARE {age} YEARS OLD, {height} CM HEIGHT AND {weight} KG WEIGHT")

HOW OLD ARE YOU? 51
WHAT IS YOUR HEIGHT (IN CM) 155
WHAT IS YOUR WEIGHT (IN KG) 75

SO, YOU ARE 51 YEARS OLD, 155 CM HEIGHT AND 75 KG WEIGHT

In [17]:
age=input("HOW OLD ARE YOU?")
height=input("WHAT IS YOUR HEIGHT (IN CM)")
weight=input("WHAT IS YOUR WEIGHT (IN KG)")
print("SO YOU'RE {} YEARS OLD, {} CM HEIGHT AND {} KG WEIGHT".format(age,height,weight))

HOW OLD ARE YOU? 51
WHAT IS YOUR HEIGHT (IN CM) 155
WHAT IS YOUR WEIGHT (IN KG) 75

SO YOU'RE 51 YEARS OLD, 155 CM HEIGHT AND 75 KG WEIGHT

In [ ]:
#lISTS

In [ ]:
fruit=["apple","banana","cherry"]

In [18]:
print (fruit[0])

NameError: name 'fruit' is not defined